:root {
    // colors
    --main-color: #000000;
    --accent-color: #6A513D;
    --accent-color2: #D9D3CE;
    --accent-color3: #808080;
    --light-color: #ffffff;

    // font-family
    --font-main: 'Open Sans', sans-serif;
    --font-title: 'Montserrat Alternates', sans-serif;
}