:root {
    // colors
    --main-color: #000000;
    --accent-color: #6A513D;
    --light-color: #ffffff;

    // font-family
    --font-main: 'Open Sans', sans-serif;
    --font-title: 'Montserrat Alternates', sans-serif;
}