.about {
    padding: 90px 0 80px;
}
.about-image {
    max-width: 492px;
    width: 100%;
    border-radius: 20px;
    border: 1px solid darkkhaki;
    padding: 6px;
}
.about-content {
    margin-top: 20px;
}
.about-content__title {
    font-size: 24px;
    margin-bottom: 15px;

    & span {
        color: #887464;
    }
}
.about-content__desc {
    font-weight: 500;
    font-size: 16px;
    line-height: 22px;
    color: var(--accent-color3);
}
@media screen and (min-width: 1024px) {
    .about-row {
        display: flex;
        column-gap: 40px;
        max-width: 1230px;
        margin: 0 auto;
    }
    .about-image {
        height: 310px;
        border-radius: 200px 30px 30px 200px;
        padding: 10px;
    }
    .about-content__title {
        font-size: 34px;
    }
}
@media screen and (min-width: 1440px) {
    .about-row {
        max-width: 100%;
    }
    .about-image {
        width: auto;
        height: auto;
    }
    .about-content__title {
        font-size: 40px;
    }
    .about-content__desc {
        font-size: 20px;
        line-height: 28px;
    }
}