.header {
    position: fixed;
    width: 100%;
    padding: 10px 0;
    transition: all .8s ease;
    background-color: var(--light-color);
    box-shadow: 0 0 10px rgba(0, 0, 0, .4);
    z-index: 1000;
}
.header-row {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.header-logo {
    transition: opacity .2s ease;

    &:hover {
        opacity: .8;
    }
    &:active {
        opacity: 1;
    }
    & img {
        width: 45px;
        height: 38px;
    }
}
.header-nav {
    display: none;
}
.header-menu__btn {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 36px;
    height: 34px;
    background-color: var(--accent-color2);
    border-radius: 4px;
    box-shadow: 1px 2px 0 rgba(0, 0, 0, .3);
    transition: opacity .2s ease;
    cursor: pointer;

    &:hover {
        opacity: .8;
    }
    &:active {
        opacity: 1;
    }
}
.header-menu__btn-inner {
    position: relative;
    top: 1px;
    width: 26px;
    height: 18px;

    & span {
        display: block;
        width: 100%;
        height: 4px;
        position: absolute;
        background-color: var(--accent-color);
        border-radius: 4px;
    }
    
    & span:nth-child(2) {
        bottom: 0;
    }
}
.header-btn {
    display: none;
}
.header-sidebar {
    position: fixed;
    top: 0;
    left: -240px;
    width: 240px;
    height: 100vh;
    background-color: var(--accent-color2);
    transition: all .4s ease;
    z-index: 1000;
}
.sidebarHide {
    left: 0;
}
.header-sidebar__list {
    padding: 80px 0 0 34px;
    list-style: none;
}
.sidebar-list__item {
    margin-bottom: 20px;
}
.sidebar-list__link {
    font-family: var(--font-title);
    font-weight: 500;
    text-decoration: none;
    color: var(--accent-color);
}
.sidebar-close__btn {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 20px;
    right: 30px;
    width: 40px;
    height: 40px;
    font-size: 20px;
    background-color: transparent;
    color: var(--accent-color);
    border: none;
}
.sidebar-shadow {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    height: 100vh;
    background-color: rgba(0, 0, 0, .8);
    z-index: 1;
}

@media screen and (min-width: 375px) {
    .header {
        padding: 12px 0;
    }
    .header-logo img {
        width: 46px;
        height: 40px;
    }
    .header-btn {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 86px;
        height: 36px;
        font-size: 16px;
        text-decoration: none;
        border-radius: 20px;
        margin-right: 18px;
        padding-top: 2px;
        color: var(--accent-color);
        background-color: var(--accent-color2);
        box-shadow: 1px 2px 0 rgba(0, 0, 0, .3);
        transition: opacity .2s ease;

        &:hover {
            opacity: .8;
        }
        &:active {
            opacity: 1;
        }
    }
    .header-logo {
        margin-right: auto;
    }
}
@media screen and (min-width: 768px) {
   .header-sidebar,
   .sidebar-shadow,
   .header-menu__btn {
        display: none;
   }
   .header-btn,
   .header-logo {
        margin: 0;
   }
   .header-nav {
        display: flex;
        column-gap: 30px;
   }
   .header-nav__link {
        &--active {
            font-weight: 600;
            opacity: 1;
        }
        font-weight: 400;
        font-size: 16px;
        text-decoration: none;
        color: var(--accent-color);
        opacity: .6;
        transition: opacity .2s ease;

        &:hover {
            opacity: 1;
        }
        &:active {
            opacity: .8;
        }
   }
}
@media screen and (min-width: 1024px) {
    .header {
        padding: 14px 0;
    }
    .header-logo img {
        width: 58px;
        height: 50px;
    }
    .header-btn {
        width: 120px;
        height: 50px;
        border-radius: 40px;
    }
    .header-nav {
        column-gap: 50px;
    }
    .header-nav__link {
        font-size: 18px;
    }
}