.hero {
    padding: 78px 0 20px;
}
.hero-image {
    display: inline-block;
    width: 100%; 

    & img {
        display: block;
        width: 100%;
        height: 200px;
        object-fit: cover;
        border-radius: 10px;
    }
}
@media screen and (min-width: 375px) {
    .hero {
        padding-top: 84px;
    }
    .hero-image img{
        height: 260px;
    }
}
@media screen and (min-width: 425px) {
    .hero-image img{
        border-radius: 15px;
    }
}
@media screen and (min-width: 768px) {
    .hero-image img{
        border-radius: 20px;
        height: 320px;
    }
}
@media screen and (min-width: 1024px) {
    .hero {
        padding-top: 110px;
    }
    .hero-image img{
        border-radius: 25px;
        height: 520px;
    }
}
@media screen and (min-width: 1440px) {
    .hero-image img{
        border-radius: 30px;
        height: 620px;
    }
}
